$bg: #282828;
$light-black: #928374;
$red: #cc241d;
$light-red: #fb4934;
$green: #98971a;
$light-green: #b8bb26;
$yellow: #d79921;
$light-yellow: #fabd2f;
$blue: #458588;
$light-blue: #83a598;
$purple: #b16286;
$light-purple: #d3869b;
$aqua: #689d6a;
$light-aqua: #8ec07c;
$gray: #a89984;
$fg: #ebdbb2;

$bg0_h: #1d2021;
$bg0: #282828;
$bg1: #3c3836;
$bg2: #504945;
$bg3: #665c54;
$bg4: #7c6f64;

$side-padding: 25%;
$top-padding: 10px;

* {
	font-family: monospace, monospace;
}

body {
	margin: 0;
	font-family: monospace, monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	background-color: $bg;
	color: $fg;
}

.main {
	padding: $top-padding $side-padding;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.note-card {
	border-style: solid;
	border-radius: 10px;
	border-width: 3px;
	border-color: $gray;

	padding: 16px 24px;
	margin: 10px;

	.card-header {
		margin-bottom: 16px;
		border-bottom: $gray;
		border-bottom-style: solid;
		border-bottom-width: 2px;

		.tags {
			padding: 0 0 12px 0;
			
			.tag {
			font-size: small;
			font-weight: bold;
			margin: 12px 0 0 0;
			padding: 5px;
			border-radius: 100px;
			
			&::before{
				content: "#";
			}
			
			&-archived {
				background-color: $bg1;
				color: $gray;
			}
		}
	}
		
		&-top {
			display: flex;
			// padding-top: 6px;

			.card-title {
				margin: 0;
			}
	
			.date {
				display: inline;
				margin: 0;
				margin-left: auto;
				color: $light-black;
				// font-weight: bold;
				
				&::after {
					content: " /";
					font-weight: bold;
					color: $fg;
				}

				&::before {
					content: "/ ";
					font-weight: bold;
					color: $fg;
				}
			}
		}


		.note-creator {
			color: $green;
			font-weight: bold;

			&::before {
				font-weight: bold;
				color: $fg;
				content: "> ";
			}
		}
	}

	.card-body {
		// float: left;
	}
}

.form {
	display: flex;
	border: 3px solid $gray;
	border-radius: 3px;
	margin: auto;

	.form-group {
		padding: 20px;
		flex: 1;

		label {
			display: block;
			margin-bottom: 5px;
			font-size: 1.25em;
		}

		input {
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			width: 100%;
			padding: 10px;
			margin-bottom: 10px;
			border-radius: 3px;
			border: 3px solid $gray;
			background-color: $bg;
			color: $fg;
		}

		textarea {
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			width: 100%;
			padding: 10px;
			margin-bottom: 10px;
			border-radius: 3px;
			border: 3px solid $gray;
			background-color: $bg;
			color: $fg;
			resize: none;
		}

		.form-footer {
			// display: flex;
		}
	}
}

.btn {
	padding: 10px 40px;
	border-radius: 3px;
	border: none;
	font-weight: bold;
	cursor: pointer;
	color: $fg;

	&-accept {
		background-color: $blue;

		&:hover {
			background-color: $light-blue;
		}
	}

	&-good {
		background-color: $green;

		&:hover {
			background-color: $light-green;
		}
	}

	&-danger {
		background-color: $red;

		&:hover {
			background-color: $light-red;
		}
	}

	&-warning {
		background-color: $yellow;

		&:hover {
			background-color: $light-yellow;
		}
	}
}

.float {
	&-right {
		float: right;
		margin-left: auto;
	}

	&-left {
		float: left;
		margin-right: auto;
	}
}

.navbar {
	background-color: $blue;
	color: $fg;
	padding: 0 $side-padding;

	ul {
		list-style-type: none;
		padding: 0;
		display: flex;

		li {
			margin: 10px;
			padding: 10px;
		}

		a {
			text-decoration: none;
			color: inherit;
		}

		.navbar-item {
			border: none;
			background-color: inherit;
			color: inherit;
			font-weight: bold;

			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;

			width: auto;
			white-space: nowrap;

			&:hover {
				cursor: pointer;
				background-color: $fg;
				color: $blue;
			}
		}
	}
}

a {
	color: $purple;
	text-decoration: none;

	&:hover {
		background: $purple;
		color: $bg;
	}
}

h1 {
	color: $red;
}

h2 {
	color: $yellow
}